.teamhead {

    text-align: center;
    h3 {
        color: #7EB693;
font-family: Yellowtail;
font-size: 36px;
margin-bottom: 20px;
padding-top: 50px;
    }
    h2 {
        color: #274C5B;
font-family: Roboto;
font-size: 50px;
margin-bottom: 20px;
font-weight: 800;
    }
    p {
        color: #525C60;
text-align: center;
font-family: Open Sans;
font-size: 18px;
margin-bottom: 50px;
line-height: 165.4%; 
width: 500px;
text-align: center;
margin: 0 auto;
    }
}

.teamcards {

		// .teamcards__list

		&__list {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: space-between;
            margin-top: 50px;
		}

		// .teamcards__item

		&__item {
            width: 380px;
            box-shadow: (0px 29px 44px rgba(150, 150, 150, 0.25));
            margin-bottom: 50px;
            border-radius: 30px;
            overflow: hidden;

            h4 {
                color: #274C5B;
font-family: Roboto;
font-size: 25px;
margin: 20px;
font-weight: 800;
            }
            p {
                color: #7EB693;
font-family: Yellowtail;
font-size: 22px;
margin-left: 20px;
            }
		}

		// .teamcards__social

		&__social {
            cursor: pointer;
            display: flex;
            justify-content: end;
            gap: 10px;
            align-items: center;
            padding: 20px;
            
		}
}
